<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webAppWithEmbeddedMule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>org.mule.config</param-name>
    <param-value>tx-java-mule.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>MyMuleClientServlet</display-name>
    <servlet-name>MyMuleClientServlet</servlet-name>
    <servlet-class>tp.mule.MyMuleClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMuleClientServlet</servlet-name>
    <url-pattern>/MyMuleClientServlet</url-pattern>
  </servlet-mapping>
</web-app>